<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeCellSeparatorColor</key>
	<string>#35b7b9</string>
	<key>ThemeSelectBackColor</key>
	<string>#1ea3a5</string>
	<key>ThemeBackColor</key>
	<string>#FFFFFF</string>
</dict>
</plist>
